html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  font-family:  'Roboto Condensed', sans-serif , "微軟正黑體";
}

.Content{
  width: 800px;
  margin: 0 auto;
  border: 4px #444 solid;
  margin-top: 5px;
}

h1{
  text-align: center;
  font-size: 50px;
  border-bottom: 4px solid #444;
  width: 800px;
  margin: 0 auto;
  background: #FF3D4A;
  color: #f3f3f3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Commit{
  width: 95%;
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

#Commit_input{
  /*border-radius: 8px;*/
  display: block;
  padding: 12px;
  width: 80%;
  font-size: 18px;
  border: 1px solid black;
}

#Commit_input:focus{
  box-shadow: 5px 5px 15px gray,1px 1px 8px blue inset;
  /*border: 1px solid black;*/
}

#Commit_add{
  display: block;
  padding: 15px;
  width: 8%;
  background: #D5DBDB;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Commit_add:hover{
  background: #959B9B;
}

#list_ul{
  width: 91%;
  display: block;
  margin: 0 auto;
}

#list_ul li{
  display: block;
  /*width: 85%;*/
  /*margin: 0 auto;*/
  margin-top: 5px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #f3f3f3;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#list_ul li:hover{
  background: #ddd;
}

#list_ul li.checked{
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

#list_ul li.checked::before{
  content: "\270c";
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 20px;
}

.close{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover{
  background-color: #f44336;
  color: white;
}

.SelectOption{
  /*width: 800px;*/
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-around;
}

.SelectOption a{
  text-decoration: none;
  color: black;
}

.SelectOption a:hover{
  color: pink;
  font-weight: bold;
}